@font-face {
  font-family: 'WinkySans';
  src: url('./assets/fonts/WinkySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --primary-light-color:#ffffff;
  --primary-dark-color:#363738;
  --secondary-light1-color:#F5F5F5;
  --secondary-light2-color:#FEFAF1;
  --secondary-red-color:#DB4444;
  --background-color: #ffffff;
  --text-color-one:#FAFAFA;
  --text-color-two:#7D8184;
  --text-dark-color-two:#000000;
  --button-card-color:#000000;
  --button-one-color:#47B486;
  --button-two-color:#DB4444;
  --button-hover-one-color:#E07575;
  --button-hover-two-color:#A0BCE0;
}

body{
  font-family: "WinkySans" sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: var(--primary-light-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--secondary-red-color);
  border-radius: 10px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}